#ct{
    position: absolute;
    left: 23%;
    width: 70%;
}

#contact-container{ 
    
    
    margin: none;
    margin-bottom: 0;
}
.contact-info{
    text-align: justify;
    margin: 30px;
}
#linkedin{
    width: 80px;
}

.social-media-list{
    padding: 0;
}

#link-text{
    list-style-type: none;
}
.contact-para{
    margin: 30px;
}
#contact-image{
    height: 400px;
    position: absolute;
    left: 50%;
    top: 10%;
    width: 600px;
}
.link{
    text-decoration: none;
    display: flex;
    color: #6e6ed3;
    margin: 10px;
    list-style-type: none;
}

@media (max-width:700px){
  
    #container{
max-width: 100px;
width: 20%;
font-size: 8px;
border-left-style: solid;
display: flex;
flex-direction: column;
padding-left: 100px;
padding-left: 19px;
border-left-width: 0px;
}
    
    #profile{
        width: 80px;
border-radius: 50%;
left:0;
    }
    .logo-tech{
        width: 20px;
        margin:0;
    }
    #im{
        margin-left: 20px;
    }
}

@media (max-width:700px){
  

    #linkedin{
        width: 30px;
        height: 30px;
        padding: 10px;
    }
      }