
 #Header{
    display: flex;
    flex-direction: column;
    top: 0;
    justify-content: space-around;
    align-items: center;
    height: 1200px;
    background-color: black;
    left: 0;
    margin-top: 0;
    width: 20%; 
    list-style-type: none;
    position: absolute;
    margin-bottom: 0;
 }
.Header-list{
    cursor: pointer;
    color: white;
    font-size: 20px;
  
}
.Header-list:hover{
    color: red;
    box-shadow: orangered;
}
#CV{
    color: white;
}
#CV:hover{
    color: red;
    box-shadow: orangered;
}
#ul-header{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 60%;
    position: relative;
    top: -130px;
    margin-left: 7px;
}

@media (max-width:700px){
    #Header{
width: 20%;
margin-right: 20ppx;
border: 0;
margin-right: 0px;
padding-right: 10px;
flex: 1;
    }
    #ul-header{
top: -250px;
    }


    .Header-list{
        font-size: 12px;
    }
}



.projects{
    transition: margin 2s;
}
.Header-projects{
    margin: 7px;
}