
 #Header{
    display: flex;
    flex-direction: column;
    top: 0;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    height: 900px;
    background-color: black;
    left: 0;
    margin-top: 0;
    width: 20%;
    list-style-type: none;
    position: absolute;
    margin-bottom: 0;
 }
.Header-list{
    cursor: pointer;
    color: white
}
.Header-list:hover{
    color: red;
    box-shadow: orangered;
}
#CV{
    color: white;
}
#CV:hover{
    color: red;
    box-shadow: orangered;
}
#ul-header{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 60%;
    position: relative;
    top: -130px;
}