#grid{
    display: flex;
flex-wrap: wrap;
flex-wrap: wrap;
width: 1200px;
}
.grid-square{
    background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  width: 190px;
  height: 190px;
  margin: 30px;
}
.Title{
    font-size: 30px;
    transition: margin 1s;
}
#container-project{
    position: absolute;
    left: 23%;
    width: 70%;
}
.details{
    display: flex;
}
.link-projects{
    font-size: 20px;
}
